body {
    background-color: #000;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color:#ffffff;
}
.loader {
    width: 300px;
    height: 100px;
    background-color: #000;
    position: relative;
    filter: blur(10px) contrast(20);
}

.drop1,.drop2 {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.drop1 {
    background-color: #f8f8f8;
    left: 10%;
    animation: ani1 ease-in-out infinite 2.5s;
}

.drop2 {
    background-color: #00ff00;
    right: 10%;
    animation: ani2 ease-in-out infinite 2.5s;
}

@keyframes ani1 {
    0% {
        left: 10%;
    }

    50% {
        left: 45%;
    }

    100% {
        left: 10%;
    }
}

@keyframes ani2 {
    0% {
        right: 10%;
    }

    50% {
        right: 45%;
    }

    100% {
        right: 10%;
    }
}